body
{
    background:#f0f0f0;
/*    font-family: 'Poiret One', cursive;*/
}

/*h1
{
    color:orange;
}*/

h2,h3,h4,h5,h6
{
    color:#444;
    /*font-family: 'Lobster', cursive;*/
}

.panel-footer
{
    text-align: center;
}

.panel-footer p
{
    text-align: justify;
}

footer
{
    background:#222;
    padding:20px;
}

.page
{
    background:#fff;
    border-radius:1em;
    margin:1em;
    min-height:500px;
    padding:1em;
}


.icon-home
{
    color: #444;
    font-size: 60px;
    margin: 20px;
}

.btn-home-admin
{
    font-size:25px;
}

.nav
{
    font-size: 18px;
}